main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 70%;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  margin-top: 0.4rem;
}

span {
  display: flex;
  align-items: center;
}

.milestone-desc {
  margin-left: 1rem;
}

footer #image {
  max-width: 100%;
  height: auto;
}
